<header class="header">
	<nav class="nav">
		<ul>
			<li>
				<a class='logo-text' href="/">VoteUp
				</a>
				<img class = 'logo' src="/img/logo.png">
			</li>
			<li><a href="/user-polls">My polls</a></li>
			<li><a href="/polls">Polls</a></li>
			<li><a href="/new-poll">New poll</a></li>
			<li><a href="/logout">logout</a></li>
		</ul>
	</nav>
</header>