<!DOCTYPE html>
<html>
<head>
	<title>VoteUp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<% include partials/nav.ejs %>

	<div class="container">
		<div class='first'>
			<p class='welcome'>Welcome to VoteUP</p>
			
			<p>Your best app to create polls</p>
			<p>for FREE</p>
			<a href="/login">Login NOW</a>
		</div>
		<div class='second'>
			<p>Create polls with as many options as you like</p>
			<img src="/img/eximg.png">
		</div>
		<div class = "third">
			<p>Share with your friends and classmates
			on social media</p>
			<div class="imgs">
				<img src="/img/tweetericon.jpg">
				<img src="/img/google-plus-icon.png">
				<img src="/img/fbicon.png">
			</div>
		</div>
	</div>
	
	<% include partials/footer.ejs %>
</body>
</html>